In [1]:
# Importing libraries
import numpy as np
import pandas as pd
from datetime import date, datetime
import tkinter as tk
import tkinter.filedialog
import os
import ntpath
import numpy as np

In [2]:
# tkinter setup

root = tk.Tk()
root.withdraw()  # used to hide tkinter window

''

In [3]:
# Write the troop name here
troop_id = input("Enter the name of the Troop such as Troop 37 22-23")
troop_name = "for the " + troop_id

In [4]:
output_dir_name = "Post onboarding reports file output"
# create dir
abs_path = os.getcwd()
path = os.path.join(abs_path, output_dir_name)

try:
    if not os.path.exists(path):
        os.mkdir(path)
except OSError as error:
    print(error)

print(f"Files output directory is set to: {path}")

Files output directory is set to: I:\Templates, Scripts, and documents\Report Scripts\RCMP\Consent and Onboarding data Script\Post onboarding reports file output

### Generating the consent report

In [5]:
currdir = os.getcwd()
consent_file_path = tkinter.filedialog.askopenfilename(
    parent=root, initialdir=currdir, title='Please choose the consent file collected from Moodle')
if len(consent_file_path) > 0:
    print("You chose %s" % consent_file_path)

consent_df = pd.read_csv(f'{consent_file_path}')

You chose C:/Users/sam070/Downloads/user_acceptances (34).csv

In [6]:
consent_df['username'] = consent_df['User full name']

In [7]:
consent_df.drop('Email address', axis=1,inplace=True)
consent_df.drop('Respondent', axis=1,inplace=True)
consent_df.drop('Remarks', axis=1,inplace=True)
consent_df.drop('User full name', axis=1,inplace=True)

In [8]:
consent_df['username'] = consent_df['username'].str.replace('Participant ID ','')

In [9]:
consent_df

      Response                     Date                        username
0      Pending                      NaN                      Admin User
1     Accepted  2020-02-29 11:12:57 CST                   Akiff Maredia
2      Pending                      NaN    anonfirstname1 anonlastname1
3      Pending                      NaN  anonfirstname32 anonlastname32
4     Accepted  2021-05-25 15:22:19 CST                       Apple Dev
...        ...                      ...                             ...
3027  Accepted  2020-04-01 13:53:13 CST                  Test Developer
3028   Pending                      NaN                       Test Test
3029  Accepted  2021-03-02 09:26:41 CST                       Test user
3030  Accepted  2021-03-02 10:04:00 CST                      Test User2
3031  Accepted  2021-08-06 14:14:47 CST                     Web Service

[3032 rows x 3 columns]

In [10]:
currdir = os.getcwd()
troop_file_path = tkinter.filedialog.askopenfilename(parent=root, initialdir=currdir, title='Please select a the Excel for current onboarding')
if len(troop_file_path) > 0:
    print("You chose %s" % troop_file_path)

You chose T:/CCJS/RCMP/Participant and Inventory/Team 2 - Troop Folders/Troop 36 2022-23/Troop 36 2022-23.xlsx

In [11]:
troop_df = pd.read_excel(troop_file_path)
troop_column = troop_df['Troop Number']

In [12]:
troop_df

    bag #    Participant ID    Troop Number
0       1  yrt8xs813igditgz  Troop 36 22/23
1       2  rji9hbbttmzgb6y4  Troop 36 22/23
2       3  46qrzbdjn6g0n52v  Troop 36 22/23
3       4  epi26cka2znken6w  Troop 36 22/23
4       5  tsj74p5x2ql6prfl  Troop 36 22/23
5       6  7djouhvdhlxc65ny  Troop 36 22/23
6       7  nl3qdwp6er8xvu5d  Troop 36 22/23
7       8  mqsnh4oabvy2mggn  Troop 36 22/23
8       9  ax4c746fnw4juulw  Troop 36 22/23
9      10  77el9hzjfccrd5zo  Troop 36 22/23
10     11  xiju0v360vuo9qj4  Troop 36 22/23
11     12  qmgp281sxrl4s000  Troop 36 22/23
12     13  1uwkejl6mqs4tgd0  Troop 36 22/23
13     14  w0i80tub2i7qw4qx  Troop 36 22/23
14     15  fabd68qs9r8y1mwr  Troop 36 22/23
15     16  qexbqig902xcxshh  Troop 36 22/23
16     17  r4ne991oz2nt40rq  Troop 36 22/23
17     18  9j5orkg82tv1ako4  Troop 36 22/23
18     19  ijylony3nyt4j4k9  Troop 36 22/23
19     20  3j7at5i5ucg8xcc0  Troop 36 22/23
20     21  qaykfoffen4sqow9  Troop 36 22/23
21     22  4zt7m0ocmho8zr01  Troop 36 22/23
22     23  vhnyc0l8t5u4o3fl  Troop 36 22/23
23     24  8imwv5fsqwptjh1i  Troop 36 22/23
24     25  75nf2u8lw8ym4hiu  Troop 36 22/23
25     26  cvf6er3n36qysbnf  Troop 36 22/23
26     27  aotylbmrd881g8oo  Troop 36 22/23
27     28  hc26aed182258rrw  Troop 36 22/23
28     29  zjuvhdbbq47c8sws  Troop 36 22/23
29     30  as3okqjxizifhq4s  Troop 36 22/23
30     31  45kwy6s0tn5uc5xo  Troop 36 22/23
31     32  vyfch6hgxdytyif8  Troop 36 22/23

#### Taking the usernames only from the Troop file

In [13]:
troop_df['username'] = troop_df['Participant ID'].str.lower()
troop_df.drop('Participant ID', axis=1,inplace=True)
troop_df.drop('Troop Number', axis=1,inplace=True)
troop_df.drop('bag #', axis=1,inplace=True)

In [14]:
troop_df

            username
0   yrt8xs813igditgz
1   rji9hbbttmzgb6y4
2   46qrzbdjn6g0n52v
3   epi26cka2znken6w
4   tsj74p5x2ql6prfl
5   7djouhvdhlxc65ny
6   nl3qdwp6er8xvu5d
7   mqsnh4oabvy2mggn
8   ax4c746fnw4juulw
9   77el9hzjfccrd5zo
10  xiju0v360vuo9qj4
11  qmgp281sxrl4s000
12  1uwkejl6mqs4tgd0
13  w0i80tub2i7qw4qx
14  fabd68qs9r8y1mwr
15  qexbqig902xcxshh
16  r4ne991oz2nt40rq
17  9j5orkg82tv1ako4
18  ijylony3nyt4j4k9
19  3j7at5i5ucg8xcc0
20  qaykfoffen4sqow9
21  4zt7m0ocmho8zr01
22  vhnyc0l8t5u4o3fl
23  8imwv5fsqwptjh1i
24  75nf2u8lw8ym4hiu
25  cvf6er3n36qysbnf
26  aotylbmrd881g8oo
27  hc26aed182258rrw
28  zjuvhdbbq47c8sws
29  as3okqjxizifhq4s
30  45kwy6s0tn5uc5xo
31  vyfch6hgxdytyif8

In [15]:
merged_df = pd.merge(consent_df,troop_df, 'inner', 'username')

In [16]:
merged_df

    Response                     Date          username
0   Accepted  2023-02-09 15:31:07 CST  yrt8xs813igditgz
1   Accepted  2023-02-09 15:33:50 CST  rji9hbbttmzgb6y4
2    Pending                      NaN  46qrzbdjn6g0n52v
3   Accepted  2023-02-09 15:33:49 CST  epi26cka2znken6w
4   Accepted  2023-02-09 15:33:49 CST  tsj74p5x2ql6prfl
5   Accepted  2023-02-09 15:33:47 CST  7djouhvdhlxc65ny
6   Accepted  2023-02-09 15:33:21 CST  nl3qdwp6er8xvu5d
7   Accepted  2023-02-09 15:30:54 CST  mqsnh4oabvy2mggn
8   Accepted  2023-02-09 15:32:41 CST  ax4c746fnw4juulw
9    Pending                      NaN  77el9hzjfccrd5zo
10  Accepted  2023-02-09 15:32:47 CST  xiju0v360vuo9qj4
11   Pending                      NaN  qmgp281sxrl4s000
12   Pending                      NaN  1uwkejl6mqs4tgd0
13  Accepted  2023-02-09 15:33:45 CST  w0i80tub2i7qw4qx
14  Accepted  2023-02-09 15:33:50 CST  fabd68qs9r8y1mwr
15  Accepted  2023-02-09 15:30:59 CST  qexbqig902xcxshh
16   Pending                      NaN  r4ne991oz2nt40rq
17  Accepted  2023-02-09 15:33:51 CST  9j5orkg82tv1ako4
18  Accepted  2023-02-09 15:33:13 CST  ijylony3nyt4j4k9
19  Accepted  2023-02-09 15:33:50 CST  3j7at5i5ucg8xcc0
20   Pending                      NaN  qaykfoffen4sqow9
21   Pending                      NaN  4zt7m0ocmho8zr01
22  Accepted  2023-02-09 15:33:50 CST  vhnyc0l8t5u4o3fl
23   Pending                      NaN  8imwv5fsqwptjh1i
24   Pending                      NaN  75nf2u8lw8ym4hiu
25   Pending                      NaN  cvf6er3n36qysbnf
26   Pending                      NaN  aotylbmrd881g8oo
27   Pending                      NaN  hc26aed182258rrw
28   Pending                      NaN  zjuvhdbbq47c8sws
29   Pending                      NaN  as3okqjxizifhq4s
30   Pending                      NaN  45kwy6s0tn5uc5xo
31   Pending                      NaN  vyfch6hgxdytyif8

In [17]:
merged_df.to_excel(f"{path}/Consent stats {troop_name}.xlsx",index=False)

### Biometric report

In [18]:
currdir = os.getcwd()
user_file_path = tkinter.filedialog.askopenfilename(parent=root, initialdir=currdir, title='Please choose the users CSV file from moodle with current onboarding troop ')
if len(user_file_path) > 0:
    print("You chose %s" % user_file_path)

You chose C:/Users/sam070/Downloads/Users (21).csv

In [19]:
user_data_df = pd.read_csv(user_file_path)

In [20]:
user_data_df['profile_field_Sex'] = user_data_df['profile_field_Sex'].str.replace('<span lang="en" class="multilang">Male</span><span lang="fr" class="multilang"> Masculin</span>','Male')
user_data_df['profile_field_Sex'] = user_data_df['profile_field_Sex'].str.replace('<span lang="en" class="multilang">Female</span><span lang="fr" class="multilang"> FÃ©minin</span>','Female')

In [21]:
user_data_df['profile_field_language_pref'] = user_data_df['profile_field_language_pref'].str.replace('<span lang="en" class="multilang">English</span><span lang="fr" class="multilang"> Anglais</span>','English')
user_data_df['profile_field_language_pref'] = user_data_df['profile_field_language_pref'].str.replace('<span lang="en" class="multilang">French</span><span lang="fr" class="multilang"> FranÃ§ais</span>','French')

In [22]:
user_data_df.drop(['id', 'idnumber', 'institution','phone1','phone2','city','url','icq','skype','aim','yahoo','msn','country','profile_field_Deployment','profile_field_iPhone','profile_field_Apple_Watch','profile_field_scgdeviceserialnumber','profile_field_SQ_1','profile_field_PR_1','profile_field_troopnumber','profile_field_consent','profile_field_removedfromstudy','profile_field_numdailysurveys','profile_field_nummonthlysurveys','profile_field_signedcommconsent','profile_field_phonelocked','profile_field_comments','profile_field_name','profile_field_newtroop','profile_field_oldtroop','profile_field_byod','profile_field_backtrooped','profile_field_dateoflastmonthly','profile_field_time1initialsurvey','profile_field_time2predsurvey','profile_field_annualsurvey3','profile_field_annualsurvey4','profile_field_annualsurvey5','profile_field_annualsurvey6','profile_field_annualsurvey7','profile_field_time1initialinterview','profile_field_time2predinterview','profile_field_time3annualinterview','profile_field_dateoflastdaily','profile_field_llarecordingnumber','profile_field_llarecordingdate','profile_field_lastwatchuploaddate','profile_field_kitReturnPhone',
                   'profile_field_kitReturnWatch','profile_field_kitReturnBIO','profile_field_annualinterviewT4','profile_field_annualinterviewT5','profile_field_annualinterviewT6','profile_field_annualinterviewT7','profile_field_datefrstmsegd','profile_field_datelstmsged','profile_field_totalreminders','profile_field_phnelockednotes','profile_field_activitiesreqd','profile_field_compliance','profile_field_legend','profile_field_legdtsts'], inplace=True, axis=1)

In [23]:
user_data_df

,username,email,firstname,lastname,department,profile_field_Weight,profile_field_Sex,profile_field_language_pref,profile_field_Year_of_Birth2,profile_field_Feet,profile_field_Inches
0,1uwkejl6mqs4tgd0,1uwkejl6mqs4tgd0@uregina.ca,Participant ID,1uwkejl6mqs4tgd0,Troop 36 22/23,NaN,NaN,NaN,NaN,NaN,NaN
1,3j7at5i5ucg8xcc0,3j7at5i5ucg8xcc0@uregina.ca,Participant ID,3j7at5i5ucg8xcc0,Troop 36 22/23,200,Male,English,2002,6.0,5.0
2,45kwy6s0tn5uc5xo,45kwy6s0tn5uc5xo@uregina.ca,Participant ID,45kwy6s0tn5uc5xo,Troop 36 22/23,NaN,NaN,NaN,NaN,NaN,NaN
3,46qrzbdjn6g0n52v,46qrzbdjn6g0n52v@uregina.ca,Participant ID,46qrzbdjn6g0n52v,Troop 36 22/23,NaN,NaN,NaN,NaN,NaN,NaN
4,4zt7m0ocmho8zr01,4zt7m0ocmho8zr01@uregina.ca,Participant ID,4zt7m0ocmho8zr01,Troop 36 22/23,NaN,NaN,NaN,NaN,NaN,NaN
5,75nf2u8lw8ym4hiu,75nf2u8lw8ym4hiu@uregina.ca,Participant ID,75nf2u8lw8ym4hiu,Troop 36 22/23,NaN,NaN,NaN,NaN,NaN,NaN
6,77el9hzjfccrd5zo,77el9hzjfccrd5zo@uregina.ca,Participant ID,77el9hzjfccrd5zo,Troop 36 22/23,NaN,NaN,NaN,NaN,NaN,NaN
7,7djouhvdhlxc65ny,7djouhvdhlxc65ny@uregina.ca,Participant ID,7djouhvdhlxc65ny,Troop 36 22/23,195,Male,English,1988,5.0,11.0
8,8imwv5fsqwptjh1i,8imwv5fsqwptjh1i@uregina.ca,Participant ID,8imwv5fsqwptjh1i,Troop 36 22/23,NaN,NaN,NaN,NaN,NaN,NaN
9,9j5orkg82tv1ako4,9j5orkg82tv1ako4@uregina.ca,Participant ID,9j5orkg82tv1ako4,Troop 36 22/23,210,Male,English,1987,5.0,6.0
10,aotylbmrd881g8oo,aotylbmrd881g8oo@uregina.ca,Participant ID,aotylbmrd881g8oo,Troop 36 22/23,NaN,NaN,NaN,NaN,NaN,NaN
11,as3okqjxizifhq4s,as3okqjxizifhq4s@uregina.ca,Participant ID,as3okqjxizifhq4s,Troop 36 22/23,NaN,NaN,NaN,NaN,NaN,NaN
12,ax4c746fnw4juulw,ax4c746fnw4juulw@uregina.ca,Participant ID,ax4c746fnw4juulw,Troop 36 22/23,140,Female,English,2001,5.0,1.0
13,cvf6er3n36qysbnf,cvf6er3n36qysbnf@uregina.ca,Participant ID,cvf6er3n36qysbnf,Troop 36 22/23,NaN,NaN,NaN,NaN,NaN,NaN
14,epi26cka2znken6w,epi26cka2znken6w@uregina.ca,Participant ID,epi26cka2znken6w,Troop 36 22/23,170,Male,English,1997,5.0,10.0
15,fabd68qs9r8y1mwr,fabd68qs9r8y1mwr@uregina.ca,Participant ID,fabd68qs9r8y1mwr,Troop 36 22/23,205,Male,English,1981,6.0,0.0
16,hc26aed182258rrw,hc26aed182258rrw@uregina.ca,Participant ID,hc26aed182258rrw,Troop 36 22/23,NaN,NaN,NaN,NaN,NaN,NaN
17,ijylony3nyt4j4k9,ijylony3nyt4j4k9@uregina.ca,Participant ID,ijylony3nyt4j4k9,Troop 36 22/23,140,Male,English,1985,5.0,6.0
18,mqsnh4oabvy2mggn,mqsnh4oabvy2mggn@uregina.ca,Participant ID,mqsnh4oabvy2mggn,Troop 36 22/23,150,Male,English,2001,5.0,11.0
19,nl3qdwp6er8xvu5d,nl3qdwp6er8xvu5d@uregina.ca,Participant ID,nl3qdwp6er8xvu5d,Troop 36 22/23,176,Male,English,1993-02-22,5.0,9.0
20,qaykfoffen4sqow9,qaykfoffen4sqow9@uregina.ca,Participant ID,qaykfoffen4sqow9,Troop 36 22/23,NaN,NaN,NaN,NaN,NaN,NaN
21,qexbqig902xcxshh,qexbqig902xcxshh@uregina.ca,Participant ID,qexbqig902xcxshh,Troop 36 22/23,150,Male,English,1999,5.0,5.0
22,qmgp281sxrl4s000,qmgp281sxrl4s000@uregina.ca,Participant ID,qmgp281sxrl4s000,Troop 36 22/23,NaN,NaN,NaN,NaN,NaN,NaN
23,r4ne991oz2nt40rq,r4ne991oz2nt40rq@uregina.ca,Participant ID,r4ne991oz2nt40rq,Troop 36 22/23,NaN,NaN,NaN,NaN,NaN,NaN
24,rji9hbbttmzgb6y4,rji9hbbttmzgb6y4@uregina.ca,Participant ID,rji9hbbttmzgb6y4,Troop 36 22/23,198,Male,English,22,6.0,6.0
25,tsj74p5x2ql6prfl,tsj74p5x2ql6prfl@uregina.ca,Participant ID,tsj74p5x2ql6prfl,Troop 36 22/23,190lbs,Male,English,1993,6.0,1.0
26,vhnyc0l8t5u4o3fl,vhnyc0l8t5u4o3fl@uregina.ca,Participant ID,vhnyc0l8t5u4o3fl,Troop 36 22/23,185,Male,English,1997,5.0,8.0
27,vyfch6hgxdytyif8,vyfch6hgxdytyif8@uregina.ca,Participant ID,vyfch6hgxdytyif8,Troop 36 22/23,NaN,NaN,NaN,NaN,NaN,NaN
28,w0i80tub2i7qw4qx,w0i80tub2i7qw4qx@uregina.ca,Participant ID,w0i80tub2i7qw4qx,Troop 36 22/23,140,Female,English,2000,5.0,8.0
29,xiju0v360vuo9qj4,xiju0v360vuo9qj4@uregina.ca,Participant ID,xiju0v360vuo9qj4,Troop 36 22/23,154,Male,English,1992,5.0,10.0
30,yrt8xs813igditgz,yrt8xs813igditgz@uregina.ca,Participant ID,yrt8xs813igditgz,Troop 36 22/23,185,Male,English,1992-08-02,6.0,0.0
31,zjuvhdbbq47c8sws,zjuvhdbbq47c8sws@uregina.ca,Participant ID,zjuvhdbbq47c8sws,Troop 36 22/23,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
user_data_df.to_csv(f"{path}/Biometric report {troop_name}.csv",index=False)

## BYOD report making

it is making a dummy report as they are going forward set all byod=yes

In [25]:
byods = pd.Series(["Yes" for x in range(len(user_data_df.index))])

In [26]:
byods_dataframe = pd.DataFrame()

In [27]:
byods_dataframe['username'] = user_data_df['username']
byods_dataframe['byod'] = byods

In [28]:
byods_dataframe.to_csv(f"{path}/BYOD report {troop_name}.csv",index=False)

In [29]:
byods_dataframe

            username byod
0   1uwkejl6mqs4tgd0  Yes
1   3j7at5i5ucg8xcc0  Yes
2   45kwy6s0tn5uc5xo  Yes
3   46qrzbdjn6g0n52v  Yes
4   4zt7m0ocmho8zr01  Yes
5   75nf2u8lw8ym4hiu  Yes
6   77el9hzjfccrd5zo  Yes
7   7djouhvdhlxc65ny  Yes
8   8imwv5fsqwptjh1i  Yes
9   9j5orkg82tv1ako4  Yes
10  aotylbmrd881g8oo  Yes
11  as3okqjxizifhq4s  Yes
12  ax4c746fnw4juulw  Yes
13  cvf6er3n36qysbnf  Yes
14  epi26cka2znken6w  Yes
15  fabd68qs9r8y1mwr  Yes
16  hc26aed182258rrw  Yes
17  ijylony3nyt4j4k9  Yes
18  mqsnh4oabvy2mggn  Yes
19  nl3qdwp6er8xvu5d  Yes
20  qaykfoffen4sqow9  Yes
21  qexbqig902xcxshh  Yes
22  qmgp281sxrl4s000  Yes
23  r4ne991oz2nt40rq  Yes
24  rji9hbbttmzgb6y4  Yes
25  tsj74p5x2ql6prfl  Yes
26  vhnyc0l8t5u4o3fl  Yes
27  vyfch6hgxdytyif8  Yes
28  w0i80tub2i7qw4qx  Yes
29  xiju0v360vuo9qj4  Yes
30  yrt8xs813igditgz  Yes
31  zjuvhdbbq47c8sws  Yes

In [ ]:
from tkinter import messagebox
messagebox.showinfo("Success", "Post onboarding Script completed running!!")

# Finally
Now with this script you have 3 files. Download the clinical interview schedule export file as mentioned in the wiki.
copy the schedule file downloaded to the "Post onboarding reports file output" folder, then rename it to ** Clinical interview schedule report for troop ##### **.

Next these files should be sent to John and team via email, cc Donna. And upload them to the T drive :
T:\CCJS\RCMP\Participant and Inventory\Team 2 - Troop Folders\Troop #######

in the email mention the number of participants.