In [1]:
# Importing libraries
import numpy as np
import pandas as pd
from datetime import date, datetime
import tkinter as tk
import tkinter.filedialog
import os
import ntpath
import numpy as np

In [2]:
# tkinter setup

root = tk.Tk()
root.withdraw()  # used to hide tkinter window

''

In [3]:
# Write the troop name here
troop_name = "for the Troop "+"33 22-23"

In [4]:
output_dir_name = "Post onboarding reports file output"
# create dir
abs_path = os.getcwd()
path = os.path.join(abs_path, output_dir_name)

try:
    if not os.path.exists(path):
        os.mkdir(path)
except OSError as error:
    print(error)

print(f"Files output directory is set to: {path}")

Files output directory is set to: I:\Templates, Scripts, and documents\Report Scripts\RCMP\Consent and Onboarding data Script\Post onboarding reports file output

### Generating the consent report

In [5]:
currdir = os.getcwd()
consent_file_path = tkinter.filedialog.askopenfilename(
    parent=root, initialdir=currdir, title='Please choose the consent file collected from Moodle')
if len(consent_file_path) > 0:
    print("You chose %s" % consent_file_path)

consent_df = pd.read_csv(f'{consent_file_path}')

You chose C:/Users/sam070/Downloads/user_acceptances (31).csv

In [6]:
consent_df['username'] = consent_df['User full name']

In [7]:
consent_df.drop('Email address', axis=1,inplace=True)
consent_df.drop('Respondent', axis=1,inplace=True)
consent_df.drop('Remarks', axis=1,inplace=True)
consent_df.drop('User full name', axis=1,inplace=True)

In [8]:
consent_df['username'] = consent_df['username'].str.replace('Participant ID ','')

In [9]:
consent_df

      Response                     Date                        username
0      Pending                      NaN                      Admin User
1     Accepted  2020-02-29 11:12:57 CST                   Akiff Maredia
2      Pending                      NaN    anonfirstname1 anonlastname1
3      Pending                      NaN  anonfirstname32 anonlastname32
4     Accepted  2021-05-25 15:22:19 CST                       Apple Dev
...        ...                      ...                             ...
3021  Accepted  2020-04-01 13:53:13 CST                  Test Developer
3022   Pending                      NaN                       Test Test
3023  Accepted  2021-03-02 09:26:41 CST                       Test user
3024  Accepted  2021-03-02 10:04:00 CST                      Test User2
3025  Accepted  2021-08-06 14:14:47 CST                     Web Service

[3026 rows x 3 columns]

In [10]:
currdir = os.getcwd()
troop_file_path = tkinter.filedialog.askopenfilename(parent=root, initialdir=currdir, title='Please select a the Excel for current onboarding')
if len(troop_file_path) > 0:
    print("You chose %s" % troop_file_path)

You chose T:/CCJS/RCMP/Participant and Inventory/Team 2 - Troop Folders/Troop 33 2022-23/Troop 33 2022-23.xlsx

In [11]:
troop_df = pd.read_excel(troop_file_path)
troop_column = troop_df['Troop Number']

In [12]:
troop_df

    bag #    Participant ID    Troop Number
0       1  w6dfed829cgjmvn7  Troop 33 22/23
1       2  1f4fimo8703eod9i  Troop 33 22/23
2       3  7uxir0o8y6t5jegh  Troop 33 22/23
3       4  0n8713eqhj8wnc4u  Troop 33 22/23
4       5  ko970fmccoxlw0r6  Troop 33 22/23
5       6  x8qh0eo7zpsx21kr  Troop 33 22/23
6       7  ayi2u3pq7u2ycord  Troop 33 22/23
7       8  4ft4d5cywmwdbtyl  Troop 33 22/23
8       9  qt32t8x3dyy7khkr  Troop 33 22/23
9      10  1v1co8nsbvybqi33  Troop 33 22/23
10     11  5hbpvfkyn2cy37aa  Troop 33 22/23
11     12  cdr7014ofxui437i  Troop 33 22/23
12     13  ytj8qo2wnnfpiwr8  Troop 33 22/23
13     14  l62xtuz9wrmzrvcg  Troop 33 22/23
14     15  bu190oam0fgo9mzp  Troop 33 22/23
15     16  r2xfpt65i6uwflgc  Troop 33 22/23
16     17  ipxfpiydwy7u6108  Troop 33 22/23
17     18  4x335n1avkutv8q3  Troop 33 22/23
18     19  krv9jp1sln4pm6ds  Troop 33 22/23
19     20  4htlx3yszpp2f957  Troop 33 22/23
20     21  bpp1nhh5v3t20bfk  Troop 33 22/23
21     22  hgvr9d6wnl3ixd75  Troop 33 22/23
22     23  hvi7peig0fjcgljy  Troop 33 22/23
23     24  lz518ikc6pwr71b9  Troop 33 22/23
24     25  8jhlbsnepywug5vz  Troop 33 22/23
25     26  hhr24yrd4hgpevj4  Troop 33 22/23
26     27  9iqi1ekd1rqoaxtc  Troop 33 22/23
27     28  uewm8qv9igd7bm3p  Troop 33 22/23
28     29  hzf1xbi1u9bar3xs  Troop 33 22/23
29     30  kqezasw54mtpyo5d  Troop 33 22/23
30     31  hoicwm462dzv11v0  Troop 33 22/23
31     32  xro0pvxfdha2axzb  Troop 33 22/23

#### Taking the usernames only from the Troop file

In [13]:
troop_df['username'] = troop_df['Participant ID'].str.lower()
troop_df.drop('Participant ID', axis=1,inplace=True)
troop_df.drop('Troop Number', axis=1,inplace=True)
troop_df.drop('bag #', axis=1,inplace=True)

In [14]:
troop_df

            username
0   w6dfed829cgjmvn7
1   1f4fimo8703eod9i
2   7uxir0o8y6t5jegh
3   0n8713eqhj8wnc4u
4   ko970fmccoxlw0r6
5   x8qh0eo7zpsx21kr
6   ayi2u3pq7u2ycord
7   4ft4d5cywmwdbtyl
8   qt32t8x3dyy7khkr
9   1v1co8nsbvybqi33
10  5hbpvfkyn2cy37aa
11  cdr7014ofxui437i
12  ytj8qo2wnnfpiwr8
13  l62xtuz9wrmzrvcg
14  bu190oam0fgo9mzp
15  r2xfpt65i6uwflgc
16  ipxfpiydwy7u6108
17  4x335n1avkutv8q3
18  krv9jp1sln4pm6ds
19  4htlx3yszpp2f957
20  bpp1nhh5v3t20bfk
21  hgvr9d6wnl3ixd75
22  hvi7peig0fjcgljy
23  lz518ikc6pwr71b9
24  8jhlbsnepywug5vz
25  hhr24yrd4hgpevj4
26  9iqi1ekd1rqoaxtc
27  uewm8qv9igd7bm3p
28  hzf1xbi1u9bar3xs
29  kqezasw54mtpyo5d
30  hoicwm462dzv11v0
31  xro0pvxfdha2axzb

In [15]:
merged_df = pd.merge(consent_df,troop_df, 'inner', 'username')

In [16]:
merged_df

    Response                     Date          username
0    Pending                      NaN  w6dfed829cgjmvn7
1   Accepted  2023-01-12 15:32:28 CST  1f4fimo8703eod9i
2    Pending                      NaN  7uxir0o8y6t5jegh
3    Pending                      NaN  0n8713eqhj8wnc4u
4   Accepted  2023-01-12 15:32:02 CST  ko970fmccoxlw0r6
5   Accepted  2023-01-12 15:31:32 CST  x8qh0eo7zpsx21kr
6   Accepted  2023-01-12 15:32:03 CST  ayi2u3pq7u2ycord
7    Pending                      NaN  4ft4d5cywmwdbtyl
8   Accepted  2023-01-12 15:32:01 CST  qt32t8x3dyy7khkr
9    Pending                      NaN  1v1co8nsbvybqi33
10   Pending                      NaN  5hbpvfkyn2cy37aa
11  Accepted  2023-01-12 15:32:00 CST  cdr7014ofxui437i
12  Accepted  2023-01-12 15:32:02 CST  ytj8qo2wnnfpiwr8
13  Accepted  2023-01-12 15:30:10 CST  l62xtuz9wrmzrvcg
14  Accepted  2023-01-12 15:29:58 CST  bu190oam0fgo9mzp
15   Pending                      NaN  r2xfpt65i6uwflgc
16  Accepted  2023-01-12 15:32:02 CST  ipxfpiydwy7u6108
17  Accepted  2023-01-12 15:32:11 CST  4x335n1avkutv8q3
18  Accepted  2023-01-12 15:32:02 CST  krv9jp1sln4pm6ds
19   Pending                      NaN  4htlx3yszpp2f957
20  Accepted  2023-01-12 15:32:02 CST  bpp1nhh5v3t20bfk
21  Accepted  2023-01-12 15:32:02 CST  hgvr9d6wnl3ixd75
22  Accepted  2023-01-12 15:38:25 CST  hvi7peig0fjcgljy
23   Pending                      NaN  lz518ikc6pwr71b9
24   Pending                      NaN  8jhlbsnepywug5vz
25   Pending                      NaN  hhr24yrd4hgpevj4
26   Pending                      NaN  9iqi1ekd1rqoaxtc
27   Pending                      NaN  uewm8qv9igd7bm3p
28   Pending                      NaN  hzf1xbi1u9bar3xs
29   Pending                      NaN  kqezasw54mtpyo5d
30   Pending                      NaN  hoicwm462dzv11v0
31   Pending                      NaN  xro0pvxfdha2axzb

In [17]:
merged_df.to_excel(f"{path}/Consent stats {troop_name}.xlsx",index=False)

### Biometric report

In [18]:
currdir = os.getcwd()
user_file_path = tkinter.filedialog.askopenfilename(parent=root, initialdir=currdir, title='Please choose the users CSV file from moodle with current onboarding troop ')
if len(user_file_path) > 0:
    print("You chose %s" % user_file_path)

You chose C:/Users/sam070/Downloads/Users (19).csv

In [19]:
user_data_df = pd.read_csv(user_file_path)

In [20]:
user_data_df['profile_field_Sex'] = user_data_df['profile_field_Sex'].str.replace('<span lang="en" class="multilang">Male</span><span lang="fr" class="multilang"> Masculin</span>','Male')
user_data_df['profile_field_Sex'] = user_data_df['profile_field_Sex'].str.replace('<span lang="en" class="multilang">Female</span><span lang="fr" class="multilang"> FÃ©minin</span>','Female')

In [21]:
user_data_df['profile_field_language_pref'] = user_data_df['profile_field_language_pref'].str.replace('<span lang="en" class="multilang">English</span><span lang="fr" class="multilang"> Anglais</span>','English')
user_data_df['profile_field_language_pref'] = user_data_df['profile_field_language_pref'].str.replace('<span lang="en" class="multilang">French</span><span lang="fr" class="multilang"> FranÃ§ais</span>','French')

In [22]:
user_data_df.drop(['id', 'idnumber', 'institution','phone1','phone2','city','url','icq','skype','aim','yahoo','msn','country','profile_field_Deployment','profile_field_iPhone','profile_field_Apple_Watch','profile_field_scgdeviceserialnumber','profile_field_SQ_1','profile_field_PR_1','profile_field_troopnumber','profile_field_consent','profile_field_removedfromstudy','profile_field_numdailysurveys','profile_field_nummonthlysurveys','profile_field_signedcommconsent','profile_field_phonelocked','profile_field_comments','profile_field_name','profile_field_newtroop','profile_field_oldtroop','profile_field_byod','profile_field_backtrooped','profile_field_dateoflastmonthly','profile_field_time1initialsurvey','profile_field_time2predsurvey','profile_field_annualsurvey3','profile_field_annualsurvey4','profile_field_annualsurvey5','profile_field_annualsurvey6','profile_field_annualsurvey7','profile_field_time1initialinterview','profile_field_time2predinterview','profile_field_time3annualinterview','profile_field_dateoflastdaily','profile_field_llarecordingnumber','profile_field_llarecordingdate','profile_field_lastwatchuploaddate','profile_field_kitReturnPhone',
                   'profile_field_kitReturnWatch','profile_field_kitReturnBIO','profile_field_annualinterviewT4','profile_field_annualinterviewT5','profile_field_annualinterviewT6','profile_field_annualinterviewT7','profile_field_datefrstmsegd','profile_field_datelstmsged','profile_field_totalreminders','profile_field_phnelockednotes','profile_field_activitiesreqd','profile_field_compliance','profile_field_legend','profile_field_legdtsts'], inplace=True, axis=1)

In [23]:
user_data_df

,username,email,firstname,lastname,department,profile_field_Weight,profile_field_Sex,profile_field_language_pref,profile_field_Year_of_Birth2,profile_field_Feet,profile_field_Inches
0,0n8713eqhj8wnc4u,0n8713eqhj8wnc4u@uregina.ca,Participant ID,0n8713eqhj8wnc4u,Troop 33 22/23,NaN,NaN,NaN,NaN,NaN,NaN
1,1f4fimo8703eod9i,1f4fimo8703eod9i@uregina.ca,Participant ID,1f4fimo8703eod9i,Troop 33 22/23,132.0,Female,English,1987,5.0,8.0
2,1v1co8nsbvybqi33,1v1co8nsbvybqi33@uregina.ca,Participant ID,1v1co8nsbvybqi33,Troop 33 22/23,NaN,NaN,NaN,NaN,NaN,NaN
3,4ft4d5cywmwdbtyl,4ft4d5cywmwdbtyl@uregina.ca,Participant ID,4ft4d5cywmwdbtyl,Troop 33 22/23,NaN,NaN,NaN,NaN,NaN,NaN
4,4htlx3yszpp2f957,4htlx3yszpp2f957@uregina.ca,Participant ID,4htlx3yszpp2f957,Troop 33 22/23,NaN,NaN,NaN,NaN,NaN,NaN
5,4x335n1avkutv8q3,4x335n1avkutv8q3@uregina.ca,Participant ID,4x335n1avkutv8q3,Troop 33 22/23,170.0,Male,English,"March 2, q982",5.0,10.0
6,5hbpvfkyn2cy37aa,5hbpvfkyn2cy37aa@uregina.ca,Participant ID,5hbpvfkyn2cy37aa,Troop 33 22/23,NaN,NaN,NaN,NaN,NaN,NaN
7,7uxir0o8y6t5jegh,7uxir0o8y6t5jegh@uregina.ca,Participant ID,7uxir0o8y6t5jegh,Troop 33 22/23,NaN,NaN,NaN,NaN,NaN,NaN
8,8jhlbsnepywug5vz,8jhlbsnepywug5vz@uregina.ca,Participant ID,8jhlbsnepywug5vz,Troop 33 22/23,NaN,NaN,NaN,NaN,NaN,NaN
9,9iqi1ekd1rqoaxtc,9iqi1ekd1rqoaxtc@uregina.ca,Participant ID,9iqi1ekd1rqoaxtc,Troop 33 22/23,NaN,NaN,NaN,NaN,NaN,NaN
10,ayi2u3pq7u2ycord,ayi2u3pq7u2ycord@uregina.ca,Participant ID,ayi2u3pq7u2ycord,Troop 33 22/23,175.0,Male,English,1997,5.0,11.0
11,bpp1nhh5v3t20bfk,bpp1nhh5v3t20bfk@uregina.ca,Participant ID,bpp1nhh5v3t20bfk,Troop 33 22/23,190.0,Female,English,1984,5.0,4.0
12,bu190oam0fgo9mzp,bu190oam0fgo9mzp@uregina.ca,Participant ID,bu190oam0fgo9mzp,Troop 33 22/23,230.0,Female,English,1990,5.0,9.0
13,cdr7014ofxui437i,cdr7014ofxui437i@uregina.ca,Participant ID,cdr7014ofxui437i,Troop 33 22/23,133.0,Female,English,1988-09-28,5.0,5.0
14,hgvr9d6wnl3ixd75,hgvr9d6wnl3ixd75@uregina.ca,Participant ID,hgvr9d6wnl3ixd75,Troop 33 22/23,175.0,Female,English,1997-11-25,5.0,2.0
15,hhr24yrd4hgpevj4,hhr24yrd4hgpevj4@uregina.ca,Participant ID,hhr24yrd4hgpevj4,Troop 33 22/23,NaN,NaN,NaN,NaN,NaN,NaN
16,hoicwm462dzv11v0,hoicwm462dzv11v0@uregina.ca,Participant ID,hoicwm462dzv11v0,Troop 33 22/23,NaN,NaN,NaN,NaN,NaN,NaN
17,hvi7peig0fjcgljy,hvi7peig0fjcgljy@uregina.ca,Participant ID,hvi7peig0fjcgljy,Troop 33 22/23,180.0,Female,English,2002,5.0,7.0
18,hzf1xbi1u9bar3xs,hzf1xbi1u9bar3xs@uregina.ca,Participant ID,hzf1xbi1u9bar3xs,Troop 33 22/23,NaN,NaN,NaN,NaN,NaN,NaN
19,ipxfpiydwy7u6108,ipxfpiydwy7u6108@uregina.ca,Participant ID,ipxfpiydwy7u6108,Troop 33 22/23,210.0,Male,English,1992,6.0,3.0
20,ko970fmccoxlw0r6,ko970fmccoxlw0r6@uregina.ca,Participant ID,ko970fmccoxlw0r6,Troop 33 22/23,190.0,Female,English,1994,5.0,5.0
21,kqezasw54mtpyo5d,kqezasw54mtpyo5d@uregina.ca,Participant ID,kqezasw54mtpyo5d,Troop 33 22/23,NaN,NaN,NaN,NaN,NaN,NaN
22,krv9jp1sln4pm6ds,krv9jp1sln4pm6ds@uregina.ca,Participant ID,krv9jp1sln4pm6ds,Troop 33 22/23,152.0,Male,French,1995,5.0,4.0
23,l62xtuz9wrmzrvcg,l62xtuz9wrmzrvcg@uregina.ca,Participant ID,l62xtuz9wrmzrvcg,Troop 33 22/23,199.0,Male,English,1994,5.0,9.0
24,lz518ikc6pwr71b9,lz518ikc6pwr71b9@uregina.ca,Participant ID,lz518ikc6pwr71b9,Troop 33 22/23,NaN,NaN,NaN,NaN,NaN,NaN
25,qt32t8x3dyy7khkr,qt32t8x3dyy7khkr@uregina.ca,Participant ID,qt32t8x3dyy7khkr,Troop 33 22/23,170.0,Male,English,2000,5.0,9.0
26,r2xfpt65i6uwflgc,r2xfpt65i6uwflgc@uregina.ca,Participant ID,r2xfpt65i6uwflgc,Troop 33 22/23,NaN,NaN,NaN,NaN,NaN,NaN
27,uewm8qv9igd7bm3p,uewm8qv9igd7bm3p@uregina.ca,Participant ID,uewm8qv9igd7bm3p,Troop 33 22/23,NaN,NaN,NaN,NaN,NaN,NaN
28,w6dfed829cgjmvn7,w6dfed829cgjmvn7@uregina.ca,Participant ID,w6dfed829cgjmvn7,Troop 33 22/23,NaN,NaN,NaN,NaN,NaN,NaN
29,x8qh0eo7zpsx21kr,x8qh0eo7zpsx21kr@uregina.ca,Participant ID,x8qh0eo7zpsx21kr,Troop 33 22/23,136.0,Female,English,1993,5.0,5.0
30,xro0pvxfdha2axzb,xro0pvxfdha2axzb@uregina.ca,Participant ID,xro0pvxfdha2axzb,Troop 33 22/23,NaN,NaN,NaN,NaN,NaN,NaN
31,ytj8qo2wnnfpiwr8,ytj8qo2wnnfpiwr8@uregina.ca,Participant ID,ytj8qo2wnnfpiwr8,Troop 33 22/23,130.0,Female,English,1974,5.0,6.0

In [24]:
user_data_df.to_csv(f"{path}/Biometric report {troop_name}.csv",index=False)

## BYOD report making

it is making a dummy report as they are going forward set all byod=yes

In [25]:
byods = pd.Series(["Yes" for x in range(len(user_data_df.index))])

In [26]:
byods_dataframe = pd.DataFrame()

In [27]:
byods_dataframe['username'] = user_data_df['username']
byods_dataframe['byod'] = byods

In [28]:
byods_dataframe.to_csv(f"{path}/BYOD report {troop_name}.csv",index=False)

In [29]:
byods_dataframe

            username byod
0   0n8713eqhj8wnc4u  Yes
1   1f4fimo8703eod9i  Yes
2   1v1co8nsbvybqi33  Yes
3   4ft4d5cywmwdbtyl  Yes
4   4htlx3yszpp2f957  Yes
5   4x335n1avkutv8q3  Yes
6   5hbpvfkyn2cy37aa  Yes
7   7uxir0o8y6t5jegh  Yes
8   8jhlbsnepywug5vz  Yes
9   9iqi1ekd1rqoaxtc  Yes
10  ayi2u3pq7u2ycord  Yes
11  bpp1nhh5v3t20bfk  Yes
12  bu190oam0fgo9mzp  Yes
13  cdr7014ofxui437i  Yes
14  hgvr9d6wnl3ixd75  Yes
15  hhr24yrd4hgpevj4  Yes
16  hoicwm462dzv11v0  Yes
17  hvi7peig0fjcgljy  Yes
18  hzf1xbi1u9bar3xs  Yes
19  ipxfpiydwy7u6108  Yes
20  ko970fmccoxlw0r6  Yes
21  kqezasw54mtpyo5d  Yes
22  krv9jp1sln4pm6ds  Yes
23  l62xtuz9wrmzrvcg  Yes
24  lz518ikc6pwr71b9  Yes
25  qt32t8x3dyy7khkr  Yes
26  r2xfpt65i6uwflgc  Yes
27  uewm8qv9igd7bm3p  Yes
28  w6dfed829cgjmvn7  Yes
29  x8qh0eo7zpsx21kr  Yes
30  xro0pvxfdha2axzb  Yes
31  ytj8qo2wnnfpiwr8  Yes

# Finally

copy the schedule file downloaded in step 3 to the "Post onboarding reports file output" folder, then rename it to ** Clinical interview schedule report for troop ##### **.

Next these files should be sent to John and team via email, cc Donna. And upload them to the T drive :
T:\CCJS\RCMP\Participant and Inventory\Team 2 - Troop Folders\Troop #######

in the email mention the number of participants.