In [1]:
# Importing libraries
import numpy as np
import pandas as pd
from datetime import date, datetime
import tkinter as tk
import tkinter.filedialog
import os
import ntpath
import numpy as np

In [2]:
# tkinter setup

root = tk.Tk()
root.withdraw()  # used to hide tkinter window

''

In [3]:
# Write the troop name here
troop_id = input("Enter the name of the Troop such as Troop 37 22-23")
troop_name = "for the " + troop_id

In [4]:
output_dir_name = "Upload file output"
# create dir
abs_path = os.getcwd()
path = os.path.join(abs_path, output_dir_name)

try:
    if not os.path.exists(path):
        os.mkdir(path)
except OSError as error:
    print(error)

print(f"Files output directory is set to: {path}")

Files output directory is set to: I:\Templates, Scripts, and documents\Report Scripts\RCMP\Consent and Onboarding data Script\Upload file output

# Pre-Onboarding Check

### Generating the consent report

In [5]:
currdir = os.getcwd()
consent_file_path = tkinter.filedialog.askopenfilename(
    parent=root, initialdir=currdir, title='Please choose the consent file collected from Moodle')
if len(consent_file_path) > 0:
    print("You chose %s" % consent_file_path)

consent_df = pd.read_csv(f'{consent_file_path}')

You chose C:/Users/sam070/Downloads/user_acceptances (35).csv

In [6]:
consent_df['username'] = consent_df['User full name']

In [7]:
consent_df.drop('Email address', axis=1,inplace=True)
consent_df.drop('Respondent', axis=1,inplace=True)
consent_df.drop('Remarks', axis=1,inplace=True)
consent_df.drop('User full name', axis=1,inplace=True)

In [8]:
consent_df['username'] = consent_df['username'].str.replace('Participant ID ','')

In [9]:
consent_df

      Response                     Date                        username
0      Pending                      NaN                      Admin User
1     Accepted  2020-02-29 11:12:57 CST                   Akiff Maredia
2      Pending                      NaN    anonfirstname1 anonlastname1
3      Pending                      NaN  anonfirstname32 anonlastname32
4     Accepted  2021-05-25 15:22:19 CST                       Apple Dev
...        ...                      ...                             ...
3027  Accepted  2020-04-01 13:53:13 CST                  Test Developer
3028   Pending                      NaN                       Test Test
3029  Accepted  2021-03-02 09:26:41 CST                       Test user
3030  Accepted  2021-03-02 10:04:00 CST                      Test User2
3031  Accepted  2021-08-06 14:14:47 CST                     Web Service

[3032 rows x 3 columns]

In [10]:
currdir = os.getcwd()
troop_file_path = tkinter.filedialog.askopenfilename(parent=root, initialdir=currdir, title='Please select a the Excel for current onboarding')
if len(troop_file_path) > 0:
    print("You chose %s" % troop_file_path)

You chose T:/CCJS/RCMP/Participant and Inventory/Team 2 - Troop Folders/Troop 37 2022-23/Troop 37 2022-23.xlsx

In [11]:
troop_df = pd.read_excel(troop_file_path)
troop_column = troop_df['Troop Number']

In [12]:
troop_df

    bag #    Participant ID    Troop Number
0       1  iehsrixnjpq0dv09  Troop 37 22/23
1       2  u9kykg7836kqntq1  Troop 37 22/23
2       3  5nzzi3k26dba42us  Troop 37 22/23
3       4  avoepulg30yzzj5q  Troop 37 22/23
4       5  9xcbcdyuyhoeucoz  Troop 37 22/23
5       6  k6bc6faqrx55um83  Troop 37 22/23
6       7  jpysd71nj27icos6  Troop 37 22/23
7       8  wes4zohk8lfxlglt  Troop 37 22/23
8       9  ojexsb0522s4nbdw  Troop 37 22/23
9      10  dvsif1rk3ondxdxr  Troop 37 22/23
10     11  bp2ztrneb5e56uzl  Troop 37 22/23
11     12  uk49qe5jhfjhvt56  Troop 37 22/23
12     13  6p74ou5qysehc4hk  Troop 37 22/23
13     14  5fao6sep1kxosecu  Troop 37 22/23
14     15  jycl87bjvfovsde0  Troop 37 22/23
15     16  7qutem7gkohv39vw  Troop 37 22/23
16     17  wzclkjxw3wi9gjmm  Troop 37 22/23
17     18  h46dkty0pu11h5yx  Troop 37 22/23
18     19  q9jq2km87g3xconc  Troop 37 22/23
19     20  77ihnena7aijtyuv  Troop 37 22/23
20     21  9ksrfnm4qty3dmn6  Troop 37 22/23
21     22  ajr3euh6o0n7b6ah  Troop 37 22/23
22     23  3wk72i3czj1piats  Troop 37 22/23
23     24  d4cgit67cyo37bs6  Troop 37 22/23
24     25  fvk7l6jk19rpx12l  Troop 37 22/23
25     26  b91yxlqzf2xsgthh  Troop 37 22/23
26     27  zjkbtet9cn4d5bfm  Troop 37 22/23
27     28  n082kupz8uf7k62h  Troop 37 22/23
28     29  6juvg3sig3rytph0  Troop 37 22/23
29     30  yabqg3vbowkcy06z  Troop 37 22/23
30     31  2wa9y8d5zm498vjm  Troop 37 22/23
31     32  8eldbfmbj1h0wija  Troop 37 22/23

In [13]:
troop_df['username'] = troop_df['Participant ID'].str.lower()
troop_df.drop('Participant ID', axis=1,inplace=True)
troop_df.drop('Troop Number', axis=1,inplace=True)
troop_df.drop('bag #', axis=1,inplace=True)

In [14]:
troop_df

            username
0   iehsrixnjpq0dv09
1   u9kykg7836kqntq1
2   5nzzi3k26dba42us
3   avoepulg30yzzj5q
4   9xcbcdyuyhoeucoz
5   k6bc6faqrx55um83
6   jpysd71nj27icos6
7   wes4zohk8lfxlglt
8   ojexsb0522s4nbdw
9   dvsif1rk3ondxdxr
10  bp2ztrneb5e56uzl
11  uk49qe5jhfjhvt56
12  6p74ou5qysehc4hk
13  5fao6sep1kxosecu
14  jycl87bjvfovsde0
15  7qutem7gkohv39vw
16  wzclkjxw3wi9gjmm
17  h46dkty0pu11h5yx
18  q9jq2km87g3xconc
19  77ihnena7aijtyuv
20  9ksrfnm4qty3dmn6
21  ajr3euh6o0n7b6ah
22  3wk72i3czj1piats
23  d4cgit67cyo37bs6
24  fvk7l6jk19rpx12l
25  b91yxlqzf2xsgthh
26  zjkbtet9cn4d5bfm
27  n082kupz8uf7k62h
28  6juvg3sig3rytph0
29  yabqg3vbowkcy06z
30  2wa9y8d5zm498vjm
31  8eldbfmbj1h0wija

In [15]:
merged_df = pd.merge(consent_df,troop_df, 'inner', 'username')

In [16]:
merged_df

   Response Date          username
0   Pending  NaN  iehsrixnjpq0dv09
1   Pending  NaN  u9kykg7836kqntq1
2   Pending  NaN  5nzzi3k26dba42us
3   Pending  NaN  avoepulg30yzzj5q
4   Pending  NaN  9xcbcdyuyhoeucoz
5   Pending  NaN  k6bc6faqrx55um83
6   Pending  NaN  jpysd71nj27icos6
7   Pending  NaN  wes4zohk8lfxlglt
8   Pending  NaN  ojexsb0522s4nbdw
9   Pending  NaN  dvsif1rk3ondxdxr
10  Pending  NaN  bp2ztrneb5e56uzl
11  Pending  NaN  uk49qe5jhfjhvt56
12  Pending  NaN  6p74ou5qysehc4hk
13  Pending  NaN  5fao6sep1kxosecu
14  Pending  NaN  jycl87bjvfovsde0
15  Pending  NaN  7qutem7gkohv39vw
16  Pending  NaN  wzclkjxw3wi9gjmm
17  Pending  NaN  h46dkty0pu11h5yx
18  Pending  NaN  q9jq2km87g3xconc
19  Pending  NaN  77ihnena7aijtyuv
20  Pending  NaN  9ksrfnm4qty3dmn6
21  Pending  NaN  ajr3euh6o0n7b6ah
22  Pending  NaN  3wk72i3czj1piats
23  Pending  NaN  d4cgit67cyo37bs6
24  Pending  NaN  fvk7l6jk19rpx12l
25  Pending  NaN  b91yxlqzf2xsgthh
26  Pending  NaN  zjkbtet9cn4d5bfm
27  Pending  NaN  n082kupz8uf7k62h
28  Pending  NaN  6juvg3sig3rytph0
29  Pending  NaN  yabqg3vbowkcy06z
30  Pending  NaN  2wa9y8d5zm498vjm
31  Pending  NaN  8eldbfmbj1h0wija

In [17]:
merged_df.to_excel(f"{path}/Consent stats {troop_name}.xlsx",index=False)

### Generating the Qualtrics Link generation file

In [18]:
partcipant_id_strings = pd.Series(["Participant ID" for x in range(len(merged_df.index))])
emails = merged_df['username'] + '@rcmpstudy.ca'
troopnumbers = troop_column
qualtrics_frame = pd.DataFrame()
qualtrics_frame['Email'] = emails
qualtrics_frame['First Name'] = partcipant_id_strings
qualtrics_frame['Last Name'] = merged_df['username']
qualtrics_frame['E'] = ""
qualtrics_frame['L'] = ""
qualtrics_frame['firstname'] = merged_df['username']
qualtrics_frame['troopnumber'] = troopnumbers
qualtrics_frame.to_csv(f"{path}/qualtrics link creation file.csv",index=False)

### Generating upload file to Reset Password, set Byod=Yes,consent=No

In [19]:
passwords = pd.Series(["Redserge#1" for x in range(len(merged_df.index))])
consents = pd.Series(["No" for x in range(len(merged_df.index))])
byod_data = pd.Series(["Yes" for x in range(len(merged_df.index))])

In [20]:
upload_dataframe = pd.DataFrame()

In [21]:
upload_dataframe['password'] = passwords
upload_dataframe['profile_field_consent'] = consents
upload_dataframe['profile_field_byod'] = byod_data
upload_dataframe['username'] = merged_df['username']

In [22]:
upload_dataframe

      password profile_field_consent profile_field_byod          username
0   Redserge#1                    No                Yes  iehsrixnjpq0dv09
1   Redserge#1                    No                Yes  u9kykg7836kqntq1
2   Redserge#1                    No                Yes  5nzzi3k26dba42us
3   Redserge#1                    No                Yes  avoepulg30yzzj5q
4   Redserge#1                    No                Yes  9xcbcdyuyhoeucoz
5   Redserge#1                    No                Yes  k6bc6faqrx55um83
6   Redserge#1                    No                Yes  jpysd71nj27icos6
7   Redserge#1                    No                Yes  wes4zohk8lfxlglt
8   Redserge#1                    No                Yes  ojexsb0522s4nbdw
9   Redserge#1                    No                Yes  dvsif1rk3ondxdxr
10  Redserge#1                    No                Yes  bp2ztrneb5e56uzl
11  Redserge#1                    No                Yes  uk49qe5jhfjhvt56
12  Redserge#1                    No                Yes  6p74ou5qysehc4hk
13  Redserge#1                    No                Yes  5fao6sep1kxosecu
14  Redserge#1                    No                Yes  jycl87bjvfovsde0
15  Redserge#1                    No                Yes  7qutem7gkohv39vw
16  Redserge#1                    No                Yes  wzclkjxw3wi9gjmm
17  Redserge#1                    No                Yes  h46dkty0pu11h5yx
18  Redserge#1                    No                Yes  q9jq2km87g3xconc
19  Redserge#1                    No                Yes  77ihnena7aijtyuv
20  Redserge#1                    No                Yes  9ksrfnm4qty3dmn6
21  Redserge#1                    No                Yes  ajr3euh6o0n7b6ah
22  Redserge#1                    No                Yes  3wk72i3czj1piats
23  Redserge#1                    No                Yes  d4cgit67cyo37bs6
24  Redserge#1                    No                Yes  fvk7l6jk19rpx12l
25  Redserge#1                    No                Yes  b91yxlqzf2xsgthh
26  Redserge#1                    No                Yes  zjkbtet9cn4d5bfm
27  Redserge#1                    No                Yes  n082kupz8uf7k62h
28  Redserge#1                    No                Yes  6juvg3sig3rytph0
29  Redserge#1                    No                Yes  yabqg3vbowkcy06z
30  Redserge#1                    No                Yes  2wa9y8d5zm498vjm
31  Redserge#1                    No                Yes  8eldbfmbj1h0wija

In [23]:
upload_dataframe.to_csv(f"{path}/moodle upload file set pswd,byod,pfieldconsent {troop_name}.csv",index=False)

In [24]:
from tkinter import messagebox
messagebox.showinfo("Success", "Script completed running")

'ok'